.app {
  margin: 0;
}

.app .row {
  margin: 0;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.app-header .app-logo {
  text-align: right;
  padding: 0;
}

.app-header .logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  padding-top: 25px;
}

.main-container .panel-body,
.main-container .list-group {
  box-shadow: 2px 2px 5px #888888;
}

.main-container .panel-body {
  background-color: #F3F3F3;
}

.main-container .panel-body .buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  visibility: hidden;
  transition: display 0s, opacity 0.8s linear;
}

.main-container .panel-body {
  position: relative;
}

.main-container .panel-body:hover .buttons {
  opacity: 1;
  visibility: visible;
}

.main-container .panel-body .list-group {
  margin: 0;
}

.main-container .course .form-group {
  margin-bottom: 0;
}

.main-container .course .form-group .control-label {
  margin-bottom: 0;
}

.main-container .course .form-group .form-control-static {
  padding: 0;
}
