.app {
  margin: 0;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.app-header .app-logo {
  text-align: right;
  padding: 0;
}

.app-header .logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  text-align: left;
}

.main-container .course-list .course .form-group .control-label {
  margin-bottom: 0;
}

.main-container .course-list .course .form-group .form-control-static {
  padding-top: 5px;
}
